.idea/
.gradle/
*.iml
*.ipr
*.iws
.idea
work/
/data/
es-home/bin
es-home/data
es-home/lib
es-home/logs
es-home/modules
es-home/repo
logs/
.DS_Store
build/
target/
pom.xml.releaseBackup
release.properties